* Lecture Name: Alexander Victor, PhD
* Module Code: B9DA108
* Module Title: Programming for Data Analysis
* Contact: alexander.victor@dbs.ie

**Python Data Types**

Python Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, Python data types are classes and variables are instances (objects) of these classes. The following are the standard or built-in data types in Python:

* Numeric
* Sequence Type
* Boolean
* Set
* Dictionary
* Binary Types( memoryview, bytearray, bytes)

Each assignment replaces the previous value, making ‘x’ take on the data type and value of the most recent assignment.

In [ ]:
x = "Hello World"
x = 50
x = 60.5
x = 3j
x = ["dublin", "business", "school"]
x = ("dublin", "business", "school")
x = range(10)
x = {"name": "Suraj", "age": 24}
x = {"dublin", "business", "school"}
x = frozenset({"dublin", "business", "school"})
x = True
x = b"Dublin"
x = bytearray(4)
x = memoryview(bytes(6))
x = None

In [ ]:
x

**1. Numeric Data Types in Python**

The numeric data type in Python represents the data that has a numeric value. A numeric value can be an integer, a floating number, or even a complex number. These values are defined as Python int, Python float, and Python complex classes in Python.

**Example:** This code demonstrates how to determine the data type of variables in Python using the type() function. It prints the data types of three variables: a (integer), b (float), and c (complex). The output shows the respective data type Python for each variable.

In [ ]:
a = 5
print("Type of a: ", type(a))

b = 5.0
print("\nType of b: ", type(b))

c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

In [ ]:
a= "Hello World"
type(a)

str

**2. Sequence Data Types in Python**

The sequence Data Type in Python is the ordered collection of similar or different Python data types. Sequences allow storing of multiple values in an organized and efficient fashion. There are several sequence data types of Python:

* Python String
* Python List
* Python Tuple

**String Data Type**

A string is a collection of one or more characters put in a single quote, double-quote, or triple-quote. In Python, there is no character data type Python, a character is a string of length one. It is represented by ***str*** class.

**Example:** This Python code showcases various string creation methods. It uses single quotes, double quotes, and triple quotes to create strings with different content and includes a multiline string. The code also demonstrates printing the strings and checking their data types

In [ ]:
a="3"
type(a)

str

In [ ]:
String1 = 'Welcome to the Dublin Business School'
print("String with the use of Single Quotes: ")
print(String1)
String1 = "I'm a Geek"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))
String1 = '''I'm a student at Dublin Business School, Ireland'''
print("\nString with the use of Triple Quotes: ")
print(String1)
print(type(String1))

String1 = '''Programming
            For
            Life'''
print("\nCreating a multiline String: ")
print(String1)

String with the use of Single Quotes:
Welcome to the Dublin Business School

String with the use of Double Quotes:
I'm a Geek
<class 'str'>

String with the use of Triple Quotes:
I'm a student at Dublin Business School, Ireland
<class 'str'>

Creating a multiline String:
Programming
            For
            Life

**List Data Type**

Lists are just like arrays, declared in other languages which is an ordered collection of data. It is very flexible as the items in a list do not need to be of the same type.

**Example:** This Python code demonstrates list creation and manipulation. It starts with an empty list and prints it. It creates a list containing a single string element and prints it. It creates a list with multiple string elements and prints selected elements from the list. It creates a multi-dimensional list (a list of lists) and prints it.

In [ ]:
List = []
print("Initial blank List: ")
print(List)
List = ['DublinBusinessSchool']
print("\nList with the use of String: ")
print(List)
List = ["Dublin", "Business", "School"]
print("\nList containing multiple values: ")
print(List[0])
print(List[1])
List = [['Dublin', 'Business'], ['School']]
print("\nMulti-Dimensional List: ")
print(List)

Initial blank List:
[]

List with the use of String:
['DublinBusinessSchool']

List containing multiple values:
Dublin
Business

Multi-Dimensional List:
[['Dublin', 'Business'], ['School']]

In [ ]:
x=(2,3,4,5,6)
x

(2, 3, 4, 5, 6)

In [ ]:
x*3

(2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6)

In [ ]:
x+[3,5,6,7,3]

[2, 3, 4, 5, 6, 3, 5, 6, 7, 3]

**Tuple Data Type**

Just like a list, a tuple is also an ordered collection of Python objects. The only difference between a tuple and a list is that tuples are immutable i.e. tuples cannot be modified after it is created. It is represented by a tuple class.

**Example:** This Python code demonstrates different methods of creating and working with tuples. It starts with an empty tuple and prints it. It creates a tuple containing string elements and prints it. It converts a list into a tuple and prints the result. It creates a tuple from a string using the tuple() function. It forms a tuple with nested tuples and displays the result.

In [ ]:
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)
Tuple1 = ('Dublin', 'Business')
print("\nTuple with the use of String: ")
print(Tuple1)
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))
Tuple1 = tuple('Ireland')
print("\nTuple with the use of function: ")
print(Tuple1)
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Dublin', 'Business')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Initial empty Tuple:
()

Tuple with the use of String:
('Dublin', 'Business')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('I', 'r', 'e', 'l', 'a', 'n', 'd')

Tuple with nested tuples:
((0, 1, 2, 3), ('Dublin', 'Business'))

**3. Boolean Data Type in Python**

Python Data type with one of the two built-in values, True or False. Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false).

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
print(type(true))
print(type(false))

NameError: name 'true' is not defined

**4. Dictionary Data Type in Python**

A dictionary in Python is an unordered collection of data values, used to store data values like a map, unlike other Python Data Types that hold only a single value as an element, a Dictionary holds a key: value pair. Key-value is provided in the dictionary to make it more optimized. Each key-value pair in a Dictionary is separated by a colon : , whereas each key is separated by a ‘comma’.

**Example:** This code creates and prints a variety of dictionaries. The first dictionary is empty. The second dictionary has integer keys and string values. The third dictionary has mixed keys, with one string key and one integer key. The fourth dictionary is created using the dict() function, and the fifth dictionary is created using the ***[(key, value)]*** syntax

In [ ]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)
Dict = {1: 'Dublin', 2: 'Business', 3: 'School'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)
Dict = {'Name': 'Ireland', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)
Dict = dict({1: 'Dublin', 2: 'Business', 3: 'School'})
print("\nDictionary with the use of dict(): ")
print(Dict)
Dict = dict([(1, 'Ireland'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of Integer Keys:
{1: 'Dublin', 2: 'Business', 3: 'School'}

Dictionary with the use of Mixed Keys:
{'Name': 'Ireland', 1: [1, 2, 3, 4]}

Dictionary with the use of dict():
{1: 'Dublin', 2: 'Business', 3: 'School'}

Dictionary with each item as a pair:
{1: 'Ireland', 2: 'For'}

**Accessing Key-value in Dictionary**

In order to access the items of a dictionary refer to its key name. Key can be used inside square brackets. There is also a method called get() that will also help in accessing the element from a dictionary.

In [ ]:
Dict = {1: 'Business', 'name': 'For', 3: 'School'}
print("Accessing a element using key:")
print(Dict[3])
print("Accessing a element using get:")
print(Dict.get(1))

Accessing a element using key:
School
Accessing a element using get:
Business

# **Python Variables**

Python Variable is containers that store values.

In [ ]:
Var = "DublinBusinessSchool"
print(Var)

DublinBusinessSchool

**Rules for Python variables**

* A Python variable name must start with a letter or the underscore character.
* A Python variable name cannot start with a number.
* A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
* Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).
* The reserved words(keywords) in Python cannot be used to name the variable in Python.

In [ ]:
# valid variable name
dublin = 1
Dublin = 2
Du_bl_in = 5
_dublin = 6
dublin_ = 7
_DUBLIN_ = 8

print(dublin, Dublin, Du_bl_in)
print(_dublin, dublin_, _DUBLIN_)

1 2 5
6 7 8

**Variables Assignment in Python**

In [ ]:
# An integer assignment
age = 45

# A floating point
salary = 1456.8

# A string
name = "John"
name="Sumit"
print(age)
print(salary)
print(name)

45
1456.8
Sumit

**Declaration and Initialization of Variables**

In [ ]:
# declaring the var
Number = 100

# display
print( Number)

100

**Redeclaring variables in Python**

In [ ]:
# declaring the var
Number = 100

# display
print("Before declare: ", Number)

# re-declare the var
Number = 120.3

print("After re-declare:", Number)

Before declare:  100
After re-declare: 120.3

**Python Assign Values to Multiple Variables**

In [ ]:
a = b = c = 10

print(a)
print(b)
print(c)

10
10
10

Assigning different values to multiple variables

In [ ]:
a, b, c = 1, 20.2, "DublinBusinessSchool"

print(a)
print(b)
print(c)

1
20.2
DublinBusinessSchool

**Global and Local Python Variables**

Local variables in Python are the ones that are defined and declared inside a function. We can not call this variable outside the function.

In [ ]:
# This function uses local variable s
def f():
  s = "Welcome students"
  print(s)

In [ ]:
f()

Welcome students

In [ ]:
s=45

In [ ]:
f()

Welcome students

Global variables in Python are the ones that are defined and declared outside a function, and we need to use them inside a function.

In [ ]:
# This function has a variable with
# name same as s
def f():
    print(s)

# Global scope
s = "I love Dublin Business School"

In [ ]:
f()

45

In [ ]:
s=45

In [ ]:
s="Bank Holiday"

In [ ]:
f()

Bank Holiday

In [ ]:
x = 15

def change():

    # using a global keyword
    global x

    # increment value of a by 5
    x = x + 5
    print("Value of x inside a function :", x)


change()
print("Value of x outside a function :", x)

Value of x inside a function : 20
Value of x outside a function : 20

**Variable Types in Python**

Data types are the classification or categorization of data items.

In [ ]:
# numberic
var = 123
print("Numeric data : ", var)

# Sequence Type
String1 = 'Welcome to Dublin Business School'
print("String with the use of Single Quotes: ")
print(String1)

# Boolean
print(type(True))
print(type(False))

# Creating a Set with
# the use of a String
set1 = set("DublinBusinessSchool")
print("\nSet with the use of String: ")
print(set1)

# Creating a Dictionary
# with Integer Keys
Dict = {1: 'Dublin', 2: 'Business', 3: 'School'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

Numeric data :  123
String with the use of Single Quotes:
Welcome to Dublin Business School
<class 'bool'>
<class 'bool'>

Set with the use of String:
{'h', 'l', 'S', 'b', 'B', 'o', 'e', 'D', 'n', 'c', 'i', 's', 'u'}

Dictionary with the use of Integer Keys:
{1: 'Dublin', 2: 'Business', 3: 'School'}

# **Taking input in Python**

Developers often have a need to interact with users, either to get data or to provide some sort of result. Most programs today use a dialog box as a way of asking the user to provide some type of input.

* input ( prompt )

In [ ]:
# Python program showing
# a use of input()

val = input("Enter your values of your choice: ")
print(val)

Enter your values of your choice: 6
6

In [ ]:
name = input('What is your name?\n')	 # \n ---> newline ---> It causes a line break
print(name)

What is your name?
Sumit
Sumit

In [ ]:
# Program to check input
# type in Python

num = input ("Enter number :")
print(num)
name1 = input("Enter name : ")
print(name1)

# Printing type of input value
print ("type of number", type(num))
print ("type of name", type(name1))

Enter number :56
56
Enter name : Raj
Raj
type of number <class 'str'>
type of name <class 'str'>

# **Casting Data Types**

In [ ]:
num = int(input("Enter a number: "))
print(num, " ", type(num))


floatNum = float(input("Enter a decimal number: "))
print(floatNum, " ", type(floatNum))

num1 = str(input("Enter a name:"))
print(num1, " ", type(num1))

Enter a number: 5
5   <class 'int'>
Enter a decimal number: 6
6.0   <class 'float'>
Enter a name:Sheila
Sheila   <class 'str'>

# **Type Conversion in Python**

Python defines type conversion functions to directly convert one data type to another which is useful in day-to-day and competitive programming. This article is aimed at providing information about certain conversion functions.

There are two types of Type Conversion in Python:

* Python Implicit Type Conversion
* Python Explicit Type Conversion

**Implicit Type Conversion in Python**

In Implicit type conversion of data types in Python, the Python interpreter automatically converts one data type to another without any user involvement.

In [ ]:
x = 10

print("x is of type:",type(x))

y = 10.6
print("y is of type:",type(y))

z = x + y

print(z)
print("z is of type:",type(z))

x is of type: <class 'int'>
y is of type: <class 'float'>
20.6
z is of type: <class 'float'>

**Explicit Type Conversion in Python**

In Explicit Type Conversion in Python, the data type is manually changed by the user as per their requirement.

In [ ]:
# initializing string
s = "10010"

# printing string converting to int base 2
c = int(s,2)
print ("After converting to integer base 2 : ", end="")
print (c)

d= int(s)
print("After converting to interger:", end="")
print(d)

# printing string converting to float
e = float(s)
print ("After converting to float : ", end="")
print (e)

After converting to integer base 2 : 18
After converting to interger:10010
After converting to float : 10010.0

In [ ]:
# initializing integer
s = '4'

# printing character converting to integer
c = ord(s)
print ("After converting character to integer : ",end="")
print (c)

# printing integer converting to hexadecimal string
c = hex(56)
print ("After converting 56 to hexadecimal string : ",end="")
print (c)

# printing integer converting to octal string
c = oct(56)
print ("After converting 56 to octal string : ",end="")
print (c)

After converting character to integer : 52
After converting 56 to hexadecimal string : 0x38
After converting 56 to octal string : 0o70

In [ ]:
# initializing string
s = 'geeks'

# printing string converting to tuple
c = tuple(s)
print ("After converting string to tuple : ",end="")
print (c)

# printing string converting to set
c = set(s)
print ("After converting string to set : ",end="")
print (c)

# printing string converting to list
c = list(s)
print ("After converting string to list : ",end="")
print (c)

After converting string to tuple : ('g', 'e', 'e', 'k', 's')
After converting string to set : {'e', 'g', 'k', 's'}
After converting string to list : ['g', 'e', 'e', 'k', 's']

In [ ]:
# initializing integers
a = 1
b = 2

# initializing tuple
tup = (('a', 1) ,('f', 2), ('g', 3))

# printing integer converting to complex number
c = complex(4,5)
print ("After converting integer to complex number : ",end="")
print (c)

# printing integer converting to string
c = str(a)
print ("After converting integer to string : ",end="")
print (c)

# printing tuple converting to expression dictionary
c = dict(tup)
print ("After converting tuple to dictionary : ",end="")
print (c)

After converting integer to complex number : (4+5j)
After converting integer to string : 1
After converting tuple to dictionary : {'a': 1, 'f': 2, 'g': 3}